
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">


            <dl class="col-article">
                <dt>购物指南</dt>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/service-provider-information.html" target="_blank">服务商信息</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/order-processing.html" target="_blank">购买流程</a></dd>
                <dd><a rel="nofollow" href="https://help.lenovo.com.cn/shop/pingjiashuoming.html" target="_blank">商品评价</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/registration-login.html" target="_blank">注册登录</a></dd>
            </dl>
            <dl class="col-article">
                <dt>配送方式</dt>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/sales-and-distribution-methods.html" target="_blank">配送方式</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/logistics-query.html" target="_blank">物流查询</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/sign-principle.html" target="_blank">签收原则</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/distribution-information.html" target="_blank">配送方式信息</a></dd>
            </dl>
            <dl class="col-article">
                <dt>支付方式</dt>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/payments.html" target="_blank">支付方式</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/bank_fq.html" target="_blank">分期支付</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/question-of-payment.html" target="_blank">支付问题</a></dd>
            </dl>
            <dl class="col-article">
                <dt>订单信息</dt>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/payments.html" target="_blank">订单信息</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/bank_fq.html" target="_blank">发票信息</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/question-of-payment.html" target="_blank">手机激活查询</a></dd>
            </dl>
            <dl class="col-article">
                <dt>售后服务</dt>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/payments.html" target="_blank">售后服务准则</a></dd>
                <dd><a rel="nofollow" href="https://cubebot.lenovo.com.cn/callcenterv2/xiaole/?scenarioCode=QqnxLF6KaAXEZoFg&sourcePage=pcofficialbottom" target="_blank">24小时在线客服</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/question-of-payment.html" target="_blank">联想服务入口</a></dd>
                <dd><a rel="nofollow" href="https://shop.lenovo.com.cn/help/payments.html" target="_blank">热门解决方案</a></dd>
            </dl>

            <dl class="col-article">
                <dt>人工客服</dt>
                <dt>400-166-6666</dt>
                <dd><a rel="nofollow" href="https://lecs.lenovo.com.cn/" target="_blank">在线咨询</a></dd>
            </dl>


        </div>
        </div>

        </div>

    </div>
</div>
</html>