<!-- Tell the browser to be responsive to screen width -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="lfnav fl" th:fragment="sidebar-fragment">
    <div class="nav_title">账户中心</div>
    <div class="title_list">
        <ul>
            <li><a th:href="@{'/personal'}" th:class="${path=='orders'?'active':''}">个人信息</a></li>
            <li><a th:href="@{'/orders'}" th:class="${path=='orders'?'active':''}">修改密码</a></li>
            <li><a th:href="@{'/logout'}">退出登录</a></li>
        </ul>
    </div>

    <div class="nav_title">订单中心</div>
    <div class="title_list">
        <ul>
            <li><a th:href="@{'/personal'}" th:class="${path=='orders'?'active':''}">我的报价</a></li>
            <li><a th:href="@{'/personnal'}" th:class="${path=='orders'?'active':''}">价格保护</a></li>
            <li><a th:href="@{'/orders'}" th:class="${path=='orders'?'active':''}">我的订单</a></li>
            <li><a th:href="@{'/personal'}" th:class="${path=='orders'?'active':''}">我的汇款单</a></li>
            <li><a th:href="@{'/personal'}" th:class="${path=='orders'?'active':''}">收货地址</a></li>


        </ul>
    </div>
</div>
</html>